.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .filterInput {
   
    padding-left: 16px;
    width: 240px;
    height: 32px;
    border-radius: 4px;
    border-bottom: 1px solid #827c7c;
    border-left: 1px solid #827c7c;
    border-right: 1px solid #827c7c;
    border-top: 1px solid #827c7c;
    outline: transparent;
    margin: 0 auto;
  }